<h2>User info</h2>
<%= image_tag user.get_profile_image(100,100) %>
<table class="table">
 <tr><th>name</th><td><%= user.name %></td></tr>
 <tr><th>introduction</th><td><%= user.introduction %></td></tr>
 <tr><th>follows</th><td><%= link_to user.followings.count, user_followings_path(user) %></td></tr>
 <tr><th>followers</th><td><%= user.followers.count %></td></tr>
</table>