<% if @book.errors.any? %>
<%= @book.errors.count %>prohibited this obj from being saved:
<ul>
    <% @book. errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
</ul>
<% end %>

<%= render 'users/profile', user: @user %>


<%= render 'list', book: @book %>

<h2>Books</h2>
<% @books.each do |book| %>
<div>
    <%= image_tag book.user.get_profile_image(100,100) %>
    <P>Title
    <%= link_to book.title, book_path(book.id) %>
    </p>
    <p>Opinion
    <%= book.body %>
    </p>

</div>
<% end %>