<% if flash[:notice] %>
<div class= "flash">
    <%= flash[:notice] %>
<% end %>

<div class= "container px-5 px-sm-0">
  <div class= "row">
    <div class= "col-md-3">
      <%= render 'users/profile', user: @user %>
       <div class="row">
        <%= link_to edit_user_path(@user.id), class: "btn btn-outline-secondary btn-block" do %>
        <i class="fas fa-user-cog"></i>
        <% end %>
       </div>
      <%= render 'list', book: @booknew %>
    </div>
    <div class="col-md-8 offset-md-1">
     <h2>Book detail</h2>
       <table class="table">
        <tbody>
          <tr>
            <td>
             <%= image_tag @book.user.get_profile_image(100,100) %><br>
             <%= link_to @user.name, user_path(@user) %>
            </tb>
            <td><%= link_to @book.title %></td>
            <td><%= @book.body %></td>
            <td><% if @book.user == current_user %></td>
            <td><%= link_to "Edit", edit_book_path(@book.id), class: "p-1 mb-0 bg-success text-white rounded" %></td>
            <td><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "p-1 mb-0 bg-danger text-white rounded" %></td>
              <% end %>
              <% if @book.favorited_by?(current_user) %>
            <td>
              <%= link_to book_favorites_path(@book), method: :delete do %>
              ♥<%= @book.favorites.count %>　
              <% end %>
            </td>
              <% else %>
            <td>
              <%= link_to book_favorites_path(@book), method: :post do %>
              ♡<%= @book.favorites.count %>　
              <% end %>
             </td>
              <% end %>
          </tr>
        </tbody>
       </table>
    </div>
  </div>
</div>