<% if flash[:notice] %>
<div class= "flash">
    <%= flash[:notice] %>
<% end %>

<div class= "container px-5 px-sm-0">
  <div class= "row">
    <div class= "col-md-3">
      <%= render 'users/profile', user: @user %>
       <div class="row">

        <% if current_user != @user %>
          <% if current_user.following?(@user) %>
              <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete, class: "p-1 mb-2 bg-info text-white rounded" %>
          <% else %>
              <%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class: "p-1 mb-2 bg-success text-white rounded" %>
          <% end %>
        <% end %>

         <% if current_user == @user %>
        　　<%= link_to edit_user_path(@user.id), class: "btn btn-outline-secondary btn-block" do %>
        <i class="fas fa-user-cog"></i>
            <% end %>
         <% end %>
       </div>
      <%= render 'list', book: @booknew %>
    </div>
    <div class="col-md-8 offset-md-1">
     <h2>Book detail</h2>
       <table class="table">
        <tbody>
          <tr>
            <td>
             <%= image_tag @book.user.get_profile_image(100,100) %><br>
             <%= link_to @user.name, user_path(@user) %>
            </tb>
            <td><%= link_to @book.title %></td>
            <td><%= @book.body %></td>
            <td><% if @book.user == current_user %></td>
            <td><%= link_to "Edit", edit_book_path(@book.id), class: "p-1 mb-0 bg-success text-white rounded" %></td>
            <td><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "p-1 mb-0 bg-danger text-white rounded" %></td>
              <% end %>

            <td id="favorite_buttons_<%= @book.id %>">
                <%= render 'favorites/favorite-btn', book: @book %>
            <td>

            <td>コメント件数：<%= @book.book_comments.count %></td>

          </tr>
        </tbody>
       </table>
          <table>
            <tbody>
              
              <%= render 'book_comments/comment-btn', book: @book %>

            </tbody>
          </table>
          <div>
            <%= render 'book_comments/form', book: @book, book_comment: @book_comment %>
          </div>
    </div>
  </div>
</div>